Django==2.2
pudb


/*
if user is not None:
			if user.objects.is_active:
				login(request, user)
				# Redirect to index page.
				#return HttpResponseRedirect("rango/")
				return render(request, 'initpage/index.html')
			else:
				# Return a 'disabled account' error message
				#return HttpResponse("You're account is disabled.")
				# render(request, 'login/index.html')
				return render(request, 'contentuser/progress.html')
		else:
			print(User.objects.filter(nick_name='sa'))
			print('!!!!!!!--***********no estas en la bd')
			return render(request, 'login/index.html')
		"""if form.is_valid():
			form.save()
			name = form.cleaned_data['nick_name']
			print(name)
			return render(request, 'initpage/index.html')"""
		"""
								cont.name=request.POST['name']
								cont.last_name=request.POST['email']
								cont.github=request.POST['name']
								cont.is_working=request.POST['name']
								cont.save()"""
	else:
		form = loginForm()
		return render(request, 'login/index.html', {'form': form})
		#return render(request, 'contentuser/progress/imdex.html')


    #return HttpResponse("Index")
*/